# macOS
.DS_Store
.AppleDouble
.LSOverride

# Flutter / Dart build artifacts
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
